# Intellij Idea
.idea
*.iml

# Gradle configs
**/.gradle/
**/build/
gradlew.bat
gradle-wrapper.properties

# Generated java sources
src/main/generated
/backend/src/main/resources/public/built/

# frontend
/frontend/node_modules/
/frontend/coverage
/frontend/dist
/frontend/npm-debug.log
npm-debug.log
